
body{
    background: rgb(54, 53, 53);
    margin: 0px;
}
ul{
    list-style: none;

}
hr {
    margin: 3px 15px 0px 15px; 
    border: 4px solid rgb(241, 139, 56); 
    border-radius: 300px/10px; 
    height: 0px; 
    text-align: center;
    box-shadow: 3px 3px 3px 3px #e687509d ;
}

#portada{
    background: #5e6481 url(/img/portada.svg) no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}
.menu-panel{
    background-color: #232327;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding-bottom: 0%;
    margin:0px;    

}
