   body {
    background: #ffff;
    font-family: Verdana;
    margin: 0;
   }
   .header {
        position: relative;
        padding-top: 20px;
        padding-bottom: 5px;
        text-align: center;
        background: #EEEE;
        background-image:url(/img/Background.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover contain;
        max-height: 150px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .img{
    object-fit: contain;
    overflow: hidden;
    }
    .enca1 {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1px;
    } 
    .enca1 img{
        height: fit-content;
        width: auto;
        max-height: 100px;
    }
    .text-logo{
        margin: 0%;

    }

    .enca2{
        padding-left: 80px;
        padding-right: 80px;
    }
    .enca2 h6{
        padding-left: 80px;
        padding-right: 80px;
    }
    .enca2 h5{
        text-align: right;
    }
    .enca3 img{
        max-height: 150px;
    }
/* MENU */
.menu-box{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px 10px;
    gap: 40px;

    width: 1162px;
    height: 28px;

    background: #262D33;


}
ul{
    list-style: none;
  }
.menu-p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 30px;
    gap: 20px;
    width: 220px;
    height: 40px;
    left: calc(50% - 220px/2 - 416px);
    top: calc(50% - 40px/2 - 2004px);

    background: #0C0909;
    border-radius: 10px 10px 0px 0px;

}
  #menu li>a{
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }

  